<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>Jamie Foubister</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    <br>

    <div class="container">
        
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/ProfilePic_jamiefoub.jpeg' %}">
                    <hr>
                    <h4>Hi I'm Jamie!</h4>
                    <p>A University Of Aberdeen Mechanical Engineering Graduate.</p>
                </div>

            </div>
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h4 id="titles">Master Of Mechanical Engineering Graduate: Actively Seeking Work</h4>
                    <hr>
                    <p class="para-main"> Thank you for visiting my portfolio website! Here I aim to build this site out to show case some of my work I have completed whilest studying at university, aswell as some projects I have done in my spare time.</p>

                    <p class="para-main"> This site is built and maintained by myself. To run the website I have set up server using a raspberry pi, 
                        this is set up at my house and is responsible for running the site aswell as running other backend tasks such as updating the dynamic IP address.
                    </p>

                    <p> My key Skills: Solid Works CAD, ABAQUS FEA, MATLAB and Python</p>

                    <p> e-mail: foubisterj@gmail.com</p>

                    <ul class="social-links">
                        <li> <a href="https://www.linkedin.com/in/jamie-foubister-690017153/"> <img class="social" src="{% static 'images/linkedin.png' %}"> </a> </li>
                        <li> <a href="{% static 'extra/Jamie_Foubister_2021_CV.pdf' %}" download> <img class="social" src="{% static 'images/cv.png' %}"> </a> </li>
			            <!-- <li><img class="social" src="{% static 'images/twitter.png' %}"></li> -->
                    </ul>

                </div>
            </div>
        </div>

        <br>
   
        <div class="row">

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5 id="titles">My Experience and Education</h5>
                    <hr>
                    <p class="para-main"> I have recently graduated from the University of Aberdeen with a master’s degree in Mechanical Engineering. 
                        During this time I have carried out two big projects, those being my 4th year individual project and 5th year group project.
                    </p>
                    
                    <p class="para-main"> I have completed my Masters Degree in Mechanical Engineering at the University of Aberdeen, achieving a 2:1 classification. 
                        Now actively seeking engineering work at graduate/junior level.
                    </p>
                                        
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5 id="titles">What I Know</h5>
                    <hr>
                    <p class="para-main"> Over my time at university I have become used to many software packages, those being Solid Works, ABAQUS and MATLAB to name a few.</p>
                    <p class="para-main"> Though in my spare time I like to build on my software development skills. In doing so I have a knowledge of python.</p>
                </div>
            </div>

        </div>

        <br>

        <div class="row">

        <div class="col-md-12">
            <div class="card card-body h-100">
                <h5 id="titles">DESIGN OF A CROSS DIE FOR SHEET METAL FORMING PROCESS</h5>
                <hr>

                <div class="images-container">
                        <img class="cross-die-images" src="{% static 'images/Cross_Die_Render_1.jpeg' %}" alt="Cross Die Assembly Render"> <!-- width="630" height="480"> -->
                        <img class="cross-die-images" src="{% static 'images/Cross_Die_ABAQUS.gif' %}">
                </div>
                
                <hr>
                <h5 id="titles">4th Year Project</h5>
                <p class="para-main">I completed my 4th year individual project on the “DESIGN OF A CROSS DIE FOR SHEET METAL FORMING PROCESS”. In which I applied my Solid Works knowledge to produce CAD models of the complete DIE design as well as accompanying Solid Works component drawings. 
                    I was also required to learn and implement new skills in Abaqus FEA software to compute simulation testing of the DIE. I was graded an “A” for this work. </p>

            </div>

        </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-12">
                <div class="card card-body h-100">
                    <h5 id="titles">DESIGN OF BLAST AND FIRE WALL FOR NEW BUILD FPSO</h5>
                    <hr>

                    <div class="images-container">
                        <img class="blast-wall-images" src="{% static 'images/Blast_Wall_Render_1.jpeg' %}" width="480" height="360">
                        <img class="blast-wall-images" src="{% static 'images/Blast_Wall_ABAQUS.gif' %}" width="200" height="360">
                    </div>

                    <hr>
                    <h5 id="titles">5th Year Project</h5>
                    <p class="para-main">For my 5th year group project, we were tasked with designing a fire and blast wall to separate modules on a new build FPSO, whilst optimising for a low cost and low weight design. 
                        This would provide protection between modules in the event of an explosion and accompanying jet fire.</p>
    
                </div>
    
            </div>
    
            <br>

        </div>

    </div>

</body>
</html>
